*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.perfil{
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;

    display: flex;
    align-items: center;
    gap: 60px;
}

.foto{
    flex: 1;
    display: flex;
    justify-content: center;
}

.foto img{
    width: 350px;
    height: 450px;
    object-fit: cover;

    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

.informacion{
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacion h1{
    font-size: 45px;
    margin-bottom: 30px;
    color: #222;
}

.informacion p{
    font-size: 22px;
    line-height: 1.8;
    color: #555;
    text-align: justify;
}
header{
    padding: 20px 50px;
}

.volver{
    text-decoration: none;
    background-color: #2c3e50;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    transition: .3s;
}

.volver:hover{
    background-color: #1f2d3a;
}